# Properties of the Number 1 

## Matthew Yuen 

An obvious property: Any number multiplied by one remains that number. One is an identity for multiplication. In other words, 1 is its own factorial, square, cube, etc. It is also the only natural number neither composite or prime.

Here are a few other interesting properties, recreational mathematics, and miscellaneous quirks of the number 1.

In [1]:
import numpy as np 
import math

### Contents: 
1. Properties 

    1.1 Fibonacci Number 
    
    1.2 Bell Number 
    
    1.3 Catalan Number 

2. Recreational Mathematics

3. Sports 

    3.1 Hockey 
    
    3.2 American Football

### 1. Properties of the Number 1

#### 1.1 - Fibonacci Number
One is a [Fibonacci Number](https://en.wikipedia.org/wiki/Fibonacci_number), in particular, F1 and F2

Recall: The Fibonacci Sequence is given by every number after the first two is the sum of the two preceding ones

Fibonacci Sequence: 0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, ...

In [5]:
def Fib(n):
    if n == 0: return 0
    if n == 1: return 1 
    else: 
        return Fib(n-1)+Fib(n-2)
for n in range(0,4):
    print(Fib(n))

0
1
1
2

#### 1.2 - Bell Number 
One is a [Bell Number](https://en.wikipedia.org/wiki/Bell_number). In particular, we can use an exponential generating function of a Bell Number: 

$$ B(x) = \sum_{n=0}^\infty \frac{B_n}{n!}x^n = e^{e^x-1} $$ 

In this formula, the summation in the middle is the general form used to define the exponential generating function for any sequence of numbers, and the formula on the right is the result of performing the summation in the specific case of the Bell numbers.

Starting with $B_0 = 1 = B_1$, the first few Bell Numbers are: 1, 1, 2, 5, 15, 52, 203, 887, ...

In [12]:
def B(x):
    # sum([B(n)*x/math.factorial(n) for n in range(0,100)]) 
    return np.exp(1)**(np.exp(x)-1)

In [15]:
B(0)

1.0

Alternatively, the bell number also satisfies [Dobinski's Formula](https://en.wikipedia.org/wiki/Dobiński%27s_formula): 

$$ B_n = \frac{1}{e}\sum_{k=0}^\infty \frac{k^n}{k!} = \frac{1}{e}\sum_{k=x}^\infty \frac{k^n}{(k-x)!}$$

In [20]:
def Dob(x):
    return 1/np.exp(1)*(sum([k**x/math.factorial(k) for k in range(0,100)]))

In [21]:
Dob(1)

1.0000000000000002

In [22]:
Dob(2)

2.0

In [23]:
Dob(3)

5.0

In [24]:
Dob(4)

15.000000000000002

In [25]:
Dob(5)

51.999999999999972

#### 1.3 - Catalan Number 
One is also a [Catalan Number](https://en.wikipedia.org/wiki/Catalan_number): 

$$ C_n = \frac{(2n)!}{(n+1)!n!} = \prod_{k=2}^n \frac{n+k}{k}, n \geq 0 $$ 

The Catalan Numbers form a sequence of natural numbers occuring in various counting problems named after [Eugene Charles Catalan.](https://en.wikipedia.org/wiki/Eugène_Charles_Catalan)

The first few Catalan Numbers are: 1, 1, 2, 5, 14, 42, 132, 429, ...

In [29]:
def Cat(n):
    if n < 0 : return 'Error, n must be greater than or equal to 0'
    else: 
        return math.factorial(2*n)/(math.factorial(n+1)*math.factorial(n))

In [30]:
Cat(0)

1.0

In [31]:
Cat(1)

1.0

In [32]:
Cat(2)

2.0

In [33]:
Cat(3)

5.0

In [34]:
Cat(4)

14.0

#### 1.4 - As a generating function 

A generating function that has all coefficients 1 is given by: 
$$ \frac{1}{1-x} = 1+x+x^2+x^3+...+x^n $$

In [45]:
def gen(x): 
    if x <= 1: print('Error, x must be greater than 1')
    else: 
        return 1/(1-x)

In [46]:
gen(1)

Error, x must be greater than 1

In [47]:
gen(2)

-1.0

In [49]:
gen(5)

-0.25

### 2. Recreational Mathematics

Here's an interesting sequence of 1's:

In [50]:
(1+1)/(1+1)

1.0

In [51]:
(11+1)/(1+1)

6.0

In [52]:
(111+1)/(1+1)

56.0

In [53]:
(1111+1)/(1+1)

556.0

In [54]:
(11111+1)/(1+1)

5556.0

In [55]:
(111111+1)/(1+1)

55556.0

Does this sequence always return a bunch of 5's and a single 6?

Here's another sequence in the shape of Pascal's Triangle

In [56]:
1**2

1

In [57]:
11**2

121

In [58]:
111**2

12321

In [59]:
1111**2

1234321

In [60]:
11111**2

123454321

In [61]:
111111**2

12345654321

In [62]:
1111111**2

1234567654321

In [63]:
11111111**2

123456787654321

In [64]:
111111111**2

12345678987654321

The number of 1's squared results in a sequence of ascending and descending numbers where the number before the sequence descends equals the number of 1's squared.

Similarly, if we were to take the results from the sequence above and sum each individual number, we would get the square root of a single value.

In [65]:
1**2

1

In [70]:
print(1+2+1)
print((1+2+1)**0.5)

4
2.0

In [71]:
print(1+2+3+2+1)
print((1+2+3+2+1)**0.5)

9
3.0

In [72]:
print(1+2+3+4+3+2+1)
print((1+2+3+4+3+2+1)**0.5)

16
4.0

In [74]:
print(1+2+3+4+5+4+3+2+1)
print((1+2+3+4+5+4+3+2+1)**0.5)

25
5.0

One final interesting sequence:

In [6]:
np.sin(np.deg2rad(1234567890))

1.0

This is true as $ 1234567890 = 360*3,429,355+90 $

### 3. Sports

#### 3.1 - Hockey

In hockey, the jersey number 1 is traditionally worn by goalies. This is widely believed as the goalie was usually the first player on the ice. It is also the lowest number allowed to be worn since 0 and 00 are banned in the 1990s as they could not be entered in NHL's scoring system. 

Noteable examples of goal tenders include [Johnny Bower](https://en.wikipedia.org/wiki/Johnny_Bower), [Roberto Luongo](https://en.wikipedia.org/wiki/Roberto_Luongo), [Terry Sawchuk](https://www.google.ca/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&uact=8&ved=0ahUKEwj-09rRsbTbAhXbGDQIHfXKBnkQFggpMAA&url=https%3A%2F%2Fen.wikipedia.org%2Fwiki%2FTerry_Sawchuk&usg=AOvVaw00BLc_6uxmMSiAlL0tD5gx), [Jacques Plante](https://www.google.ca/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&uact=8&ved=0ahUKEwj_4tmdsrTbAhW7HDQIHXQCDMAQFggpMAA&url=https%3A%2F%2Fen.wikipedia.org%2Fwiki%2FJacques_Plante&usg=AOvVaw3rECz22_-df00Mb6nsA2yN), and [Kirk McLean](https://www.google.ca/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&uact=8&ved=0ahUKEwien4SvsrTbAhU4HTQIHYVUAI4QFggpMAA&url=https%3A%2F%2Fen.wikipedia.org%2Fwiki%2FKirk_McLean&usg=AOvVaw0niH0QqPTVUXPXdGAzOmht).

As of the [2017-2018 season](https://www.hockey-reference.com/leagues/NHL_2018_numbers.html), there are 11 Goaltenders wearing the number 1.

#### 3.2 - American Football 

In the NFL, uniform numbers were assigned based on player position. The number 1 in particular can be assigned to quarterbacks or punters. It is the lowest number allowed as 0 and 00 are banned in 1973. 

Noteable examples include: [Gary Anderson](https://www.pro-football-reference.com/players/A/andergar02.htm), [Jason Elam](https://www.pro-football-reference.com/players/E/elamxjas01.htm), and [Warren Moon](https://www.pro-football-reference.com/players/M/MoonWa00.htm).